<!-- <button mat-menu-item
        [routerLink]="'create'"
        [routerLinkActive]="['is-active']">
  Create
</button>
<button mat-menu-item
        [routerLink]="'index'"
        [routerLinkActive]="['is-active']">
  Index
</button> -->
<button mat-menu-item
        [routerLink]="'categories'"
        [routerLinkActive]="['is-active']">
  Categories
</button>
<button mat-menu-item
        [routerLink]="'uploadimages'"
        [routerLinkActive]="['is-active']">
  Upload Images
</button>

<button mat-menu-item
        [routerLink]="'uploadvid'"
        [routerLinkActive]="['is-active']">
  Upload Videos
</button>
<button mat-menu-item
        [routerLink]="'view'"
        [routerLinkActive]="['is-active']">
  View Images
</button>
<button mat-menu-item
        [routerLink]="'playvid'"
        [routerLinkActive]="['is-active']">
  Play Videos
</button>

